# Python / Django
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
*.log

.db.json
# Node / Frontend
node_modules/
dist/
build/

# Environment
.env
.env.*
*.secret

# Editor / Sistema
.vscode/
*.swp
.DS_Store
Thumbs.db
